<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [2]:
with open(DATA_FILE, mode='rU') as f:   
    file_nested_list = [i for i in csv.reader(f, delimiter='\t')]

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [3]:
header = file_nested_list[0]

In [4]:
data = file_nested_list[1:]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [40]:
print header #for col names

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

1834

In [61]:
#price sum
cost = [float(row[4][1:].replace('$', '')) for row in data] #retrieve and groom list of prices
total_cost = sum(cost) #sum it

In [ ]:
#order counts
ids = [row[0] for row in data] #to get set of order IDs, i.e. non-distinct count of each order 
unique_ids = set(ids) #to get distinct order IDs
len(unique_ids) #1834 distinct orders

In [68]:
total_cost/len(unique_ids)
#that's pretty expensive!

18.811428571428824

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [12]:
#drinks should be in third zero-indexed column, per above
canned_drinks = canned_drinks = [row[3][1:-1] for row in data if 'Canned' in row[2]] #using this to strip brackets from list 
type(canned_drinks) #so, a list

list

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [93]:
burritos = sum(1 for row in data if 'Burrito' in row[2])
print(burritos) #1172 burrito orders

1172

In [95]:
data[:] #to get sense of list & how to separate
toppings = sum([row[3].count(',') +1 for row in data if 'Burrito' in row[2]]) #separating on comma
print(toppings) #6323 toppings

6323

In [98]:
print(toppings/burritos) # each burrito has 5 toppings on avg (rounded)

5

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [124]:
#just figuring something out here
header

chip_orders = [x for x in data if 'Chips' in x[2]]
expected_output=[x for x in data if 'Chips and Roasted Chili-Corn Salsa' in x[2]]
len(expected_output)

18

In [13]:
#lots of trial and error & Googling here. . . fortunately, work is slow today. 

my_dict = {}

for row in data: 
    if 'Chips' in row[2]:
        if row[2] in my_dict: 
            my_dict[row[2]] += int(row[1]) #increments value if chip order already in my_dict
        else: 
            my_dict[row[2]] = int(row[1]) #adds new key if chip order isn't already in my_dict

my_dict

{'Chips': 230,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips and Guacamole': 506,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Side of Chips': 110}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!